h1{
    color:rgb(0, 8, 2);
    font-size: 35px;
}

p{
color:rgb(243, 245, 246);
font-family: Arial, Helvetica, sans-serif;
}

img{
border: 2px solid rgb(8, 84, 9);

} 
ul{
    background-color: rgb(11, 246, 11);
}
li{
    background-color: bisque;
}