h1{
    color:rgb(0, 8, 2);
    font-size: 35px;
}

p{
color:rgb(18, 164, 237);
font-family: Arial, Helvetica, sans-serif;
}

img{
border: 2px solid rgb(8, 84, 9);

} 
ul{
    background-color: rgb(246, 109, 11);
    width: 500px;
}
li {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: orange;
    min-width: 200px;
    text-align: center;
    margin: 5px;
  }